[*.cs]

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none
